<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/build/tailwind.min.css">
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <main class="flex-grow container mx-auto px-6 py-8">
      <%- body %>
    </main>
  </body>
</html>